@import 'modules/_vars';
@import 'modules/_nav';
@import 'modules/_splash';
@import 'modules/_cards';
@import 'modules/_footer';
@import 'modules/_mediaqueries';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Raleway:400,700,800&display=swap');

html {
    scroll-behavior: smooth;
    margin: auto;
}

body {
    min-height: 100%;
    position: relative;
    margin: auto;
    background: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }

p, span {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
  }

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  
a:hover {
    color: #d6370c;
    text-decoration: underline;
  }

main {
    height: 100vh;
}

.main-logo {
    width: 30%;
    margin-left: 0px;
}

ul li {
    margin-left: 16px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.button {
    background-color: #0477BF;
    border-radius: 10px;
    color: white;
}

button{
    color: white !important;
}

.btn-primary {
    background-color: #0477bf !important;
    border-color: #59a0d7; 
}

.btn-primary:hover {
    background-color: none !important;
    border-color: #004e8a; 
 
}
.center-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-me-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.eat-container{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
    border-radius: 10px;
    background-color: #fff;
    border-right: solid 5px #f2a03d;
}

.eat-card{
    // display: flex;
    // flex-wrap: wrap;
    width: 50%;
    // background-color: green;
    padding-top: 25px;
    text-align: center;

}

.eat-img{
    width: 50%;
    display: flex;
    img {
        width: 100%;
        padding: 25px 0 25px 0;
    }
} 

.center-me-2{
    margin-top: 20px;
    h1 {
        display: inline;
    };

    img{
        width:40%
    }
}

.carousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



    img {
        width: 50% !important;
    }

    p {
        width: 50%;
    }

}

.carousel-container{
    padding-top: 55px;
}

.carousel-control-next, .carousel-control-prev{
    color: #000 !important;
}

.reserve-button{
    background-color: #007bff;
    border: none;
    font-size: 24px;
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
}

.eat-bars{
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    p{
        padding: 5px 20px 5px 20px;
        display: block;
        margin: 0;
    }
}

.eat-section{
    text-align: center;


}    i

.eat-img-bckgrd {

    width: 100%;
    position: absolute;

        img {
            width: 100%;
        }
    }


.discover-container{

    display: flex;
    flex-wrap: wrap;



}
  .form {
      margin: 0 auto;
  }

  .back {
      i {
          font-size: 28px;
          margin-right: 24px;
      }
  }

  .form-con{
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
    border-radius: 10px;
    background-color: #fff;
    border-right: solid 5px #f2a03d;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
  }

  .form-head {
      align-items: center;
      justify-content: center;
      display: flex;
      margin-bottom: 20px;
  }

  .logo-sml {
      max-width: 180px;
      margin: 0 auto;
      display: block;
      padding-top: 20px;
  }
