@media (min-width: 375px) { 
    .navbar {
        background-color: black;
        opacity: 1;
    }
     video {
        object-fit: cover;
        transform: scale(50%);
     }
 }

@media (min-width: 992px) { 
    .main-logo {
        opacity: 1 !important;
    }
    .navbar {
        background-color: transparent;
    }

    .splash-txt {
        margin-top: 25%;
    }
    .splash-txt h1 {
        font-size: 4rem;
    }
    // video {
       
    //   }
}