.navbar {
    background-color: transparent;
}
.navbar-toggle{
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    z-index: 3;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}