// .navbar-trans {
//     background: transparent; 
// }

// .navbar-toggle{
//     background-color: transparent;
//     background-image: none;
//     border: 1px solid transparent;
//     z-index: 3;
// }


.navbar a {
   color: white;
 }

 .nav-link {
     font-size: 16px;
 }

 .navbar-toggler {
     background-color: transparent !important;
 }

 .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  
  .navbar-fixed-top.scrolled .nav-link {
    color:#000;
  }


//   .navbar-toggler-icon{
//     background-color: #000 !important;
//     margin-bottom: 2px;
//     display: inline-block;
// }

.navbar-toggle .icon-bar {
    display: block;
    margin-bottom: 5px;
    width: 27px;
    height: 5px;
    border-radius: 5px;
    background-color: #0477bf /* change this to any color you want! */;

      transition: all 0.2s;
}

.top-bar {
  transform: rotate(55deg);
  transform-origin: 10% 10%;
}
.middle-bar {
  opacity: 0;
}
.bottom-bar {
  transform: rotate(-55deg);
  transform-origin: 10% 80%;
}


.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

